<% link_to "/datocms-middleman-example-datocms-demo/characters/#{character.slug}.html", class:"character-preview" do %>
  <%= image_tag character.image.file.fit('crop').crop('faces').width(200).height(200).to_url, class: "character-preview__image" %>
  <div class="character-preview__label"><%= character.name %></div>
<% end %>

