<header class="main-navigation">
  <%= link_to "Home", "/datocms-middleman-example-datocms-demo/", class: "main-navigation__item" %>
  <%= link_to "Characters", "/datocms-middleman-example-datocms-demo/characters/", class: "main-navigation__item" %>
  <%= link_to "Seasons", "/datocms-middleman-example-datocms-demo/seasons/", class: "main-navigation__item" %>
  <%= link_to "Episodes", "/datocms-middleman-example-datocms-demo/episodes/", class: "main-navigation__item" %>
</header>
