<div class="wrap">
  <div class="grid">
    <div class="grid__cell grid__cell--20">
      <section class="section section--left">
        <h2 class="section__title">Seasons</h2>
        <ul class="nav">
          <% dato.seasons.sort_by(&:position).each do |season| %>
            <li class="nav__item">
              <%= link_to season.name, "/datocms-middleman-example-datocms-demo/seasons/#{season.slug}.html" %>
            </li>
          <% end %>
        </ul>
      </section>
    </div>
    <div class="grid__cell grid__cell--80">
      <section class="section">
        <h2 class="section__title">Episodes</h2>
        <div class="grid">
          <% items.each do |episode| %>
            <div class="grid__cell grid__cell--50">
              <%= partial "partials/episode_preview", locals: { episode: episode } %>
            </div>
          <% end %>
        </div>
        <div class="pagination">
          <% if pager.previous_page %>
            <%= link_to "Previous page", pager.page_path(pager.previous_page), class: "pagination__prev" %>
          <% end %>

          <% if pager.next_page %>
            <%= link_to "Next page", pager.page_path(pager.next_page), class: "pagination__next" %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>
