<% content_for(:head) do %>
  <%= dato_meta_tags(episode) %>
<% end %>

<div class="wrap">
  <div class="grid">
    <div class="grid__cell grid__cell--20">
      <section class="section section--left">
        <h2 class="section__title">Season episodes</h2>
        <ul class="nav">
          <% dato.episodes.select { |e| e.season == episode.season }.sort_by(&:episode_number).each do |episode| %>
            <li class="nav__item">
              <% link_to "/datocms-middleman-example-datocms-demo/episodes/#{episode.slug}.html" do %>
                <%= episode.title %>
                <div class="nav__item__details">
                  Episode #<%= episode.episode_number %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </section>
    </div>
    <div class="grid__cell grid__cell--80">
      <section class="section">
        <div class="character">
          <div class="character__image">
            <% image_or_missing(episode.image) do |image| %>
              <%= image_tag episode.image.file.width(500).to_url %>
            <% end %>
          </div>
          <h1 class="character__title"><%= episode.title %></h1>
          <ul class="meta">
            <li class="meta__item">
              <strong>Season:</strong> <%= episode.season.name %>
            </li>
            <li class="meta__item">
              <strong>Episode Number: </strong><%= episode.episode_number %>
            </li>
            <li class="meta__item">
              <strong>First aired:</strong> <%= I18n.l episode.first_aired %>
            </li>
            <li class="meta__item">
              <strong>Rating:</strong> <%= episode.rating %>
            </li>
          </li>
          <div class="character__content">
            <%= markdown episode.description %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
